<div class="calc" (keydown)="onKey($event)" (keydown.end)="clear()" (keydown.delete)="allClear()">
    <div class="header">
        <div class="titles">
            Angular Calculator
        </div>
    </div>
    <div class="display">
        <div class="display-indicate">
            max
        </div>
        <div class="display-main">
            {{input}}
        </div>

        <div class="display-operations">
            {{result}}
        </div>
    </div>

    <div class="row">
        <button class="button ac" (click)="allClear()">ac</button>
        <button class="button ce" (click)="clear()">ce</button>
        <button class="button div" (click)="Operator('/')">%</button>
        <button class="button mult" (click)="Operator('*')">x</button>
    </div>

    <div class="row">
        <button class="button seven" (click)="NumPress('7')">7</button>
        <button class="button eight" (click)="NumPress('8')">8</button>
        <button class="button nine" (click)="NumPress('9')">9</button>
        <button class="button minus" (click)="Operator('-')">−</button>
    </div>

    <div class="row">
        <button class="button four" (click)="NumPress('4')">4</button>
        <button class="button five" (click)="NumPress('5')">5</button>
        <button class="button six" (click)="NumPress('6')">6</button>
        <button class="button plus" (click)="Operator('+')">+</button>
    </div>

    <div class="bottom-row">
        <div class="left">
            <div class="row">
                <button class="button one" (click)="NumPress('1')">1</button>
                <button class="button two" (click)="NumPress('2')">2</button>
                <button class="button three" (click)="NumPress('3')">3</button>
            </div>

            <div class="row">
                <button class="button zero" (click)="NumPress('0')">0</button>
                <button class="button dot" (click)="NumPress('.')">.</button>
            </div>
        </div>

        <div class="right">
            <div class="button eq" (click)="equals()">=</div>
        </div>

    </div>
</div>